<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/root.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="../public/styles/posts.css">
    <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon">
    <script>
        window.addEventListener('DOMContentLoaded', async function () {
            uploadPosts('allposts')
        })
    </script>
    <script src="../public/scripts/renderPosts.js" defer></script>
    <script src="../public/scripts/postDialogs.js" defer></script>
    <script src="../public/scripts/createPost.js" defer></script>
    <title>Typhoon</title>
</head>

<body>

    <%-include ('partials/header')%>
    <%-include ('partials/postDialogs')%>
    <%-include ('partials/notification')%>


    <main class="flex-row">
        <section id="posts" class="flex-column">

            <nav class="flex-row">
                <a id="create-button" class="C-underline">Create post</a>
                <a id="AllPosts" class="C-underline" onclick="uploadPosts('allposts')">All posts</a>
                <a id="MyPosts" class="C-underline" onclick="uploadPosts('myposts')">My posts</a>
                <a id="SavedPosts" class="C-underline" onclick="uploadPosts('savedposts')">Saved posts</a>
            </nav>


            <div id="create-post" class="flex-column">
                <form id="create-form" class="flex-column" action="/newpost" method="POST">
                    <div class="post-header flex-row">
                        <div class="user flex-row">
                            <a class="avatar"><img class="" src="../public/res/favicon.png" alt=""></a>
                            <a class="create-as flex-row">
                                Create post as <h4 class="display-name "> <%=logged_user.displayname%></h4>
                            </a>
                        </div>
                    </div>
                    <textarea id="create-post-textarea" name="message" cols="10" rows="1"></textarea>

                    <div class="subsol flex-row">
                        <p class="error-message"></p>
                        <button type="submit">POST</button>
                    </div>
                </form>
            </div>

            <div id="loading" class="flex-column">
                <img src="../public/res/loading.svg" alt="">
            </div>
            <div id="posts-div">
                
            </div>
        </section>
        <aside class="flex-column">
            <h1>BETA ver 0.6</h1>
            <p>as of 19.11.2020 10:01</p>
            <p>Niciodata nu m-as fi gandit ca o sa ajung atat de departe cu site-ul acesta</p>
        </aside>
    </main>
    <%-include ('partials/footer')%>
</body>
</html>