<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/root.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon">
    <title>Typhoon</title>
</head>
<body>
    
    <header class="flex-row">
        <a href="/" class="flex-row logos">
            <img src="../public/res/Typhoon.svg" alt="">
            <h2>Typhoon</h2>
        </a>
        <div class="flex-row buttons">
            <a class="flex-row">
                <img class="avatar" src="../public/res/favicon.png" alt="">
                <span class="display-name"><%=user.displayname%></span>
            </a>
            <a class="logout C-underline" href="/logout">Logout</a>
        </div>
    </header>

    <main class="flex-row">
        <section id="posts" class="flex-column">

            <nav class="flex-row">
                <a href="#" class="C-underline" id="create-button">Create post</a>
                <a href="#" class="C-underline">All posts</a>
                <a href="#" class="C-underline">My posts</a>
                <a href="#" class="C-underline">Saved posts</a>
            </nav>


            <div id="create-post" class="flex-column">
                <form id="create-form" class="flex-column" action="/post" method="POST">
                    <div class="post-header flex-row">
                        <div class="user flex-row">
                            <a class="avatar"><img class="" src="../public/res/favicon.png" alt=""></a>
                            <a class="create-as flex-row">
                                Create post as  <h4 class="display-name "> <%=user.displayname%></h4>
                            </a>
                        </div>
                    </div>
                    <textarea id="create-post-textarea" name="message" cols="10" rows="1"></textarea>
                    
                    <div class="subsol flex-row">  
                        <p class="error-message"></p>
                        <button type="submit">POST</button>
                    </div>
                </form>
            </div>


            <div id="posts-div" class="">
                <%posts.forEach(function(post){%>
                    <div class="flex-column POST">
                        <div class="post-header flex-row">
                            <div class="user flex-row">
                                <a href="/user/<%=post.username%>" class="avatar"><img class="" src="../public/res/favicon.png" alt=""></a>
                                <a href="/user/<%=post.username%>" class="display-name"><%=post.displayname%></a>
                                <a href="/user/<%=post.username%>" class="username">@<%=post.username%></a>
                            </div>
                            <div class="time">
                                <p><%=post.date.toLocaleString()%></p>
                            </div>
                        </div>
                        <div class="content flex-column">
                            <p><%=post.content%></p>
                            
                        </div>
                        <div class="interact flex-row">
                            <div class="like flex-row">
                                <a href="" class="C-underline"><img src="../public/res/like.png" ></a>
                                <a href="" class="C-underline"><img src="../public/res/dislike.png"></a>
                                <a href="" class="C-underline"><img src="../public/res/save.png"></a>
                            </div>
                            <% if(post.username == user.username){ %> 
                            <div class="edit flex-row">
                                <a href="#"><img src="../public/res/edit.png" alt=""></a>
                                <a onclick="confirmDeleteBin(event)" ><img src="../public/res/delete.png" alt=""></a>
                            </div>
                            
                            <% } %> 
                        </div>
                        <% if(post.username == user.username){ %> 
                            <div class="confirm-delete flex-row">
                                <p>
                                    
                                </p>
                                <div class="flex-row">
                                    <a onclick="confirmDeleteCancel(event)" class="cancel">CANCEL</a>
                                    <a class="delete" href="/deletepost/<%=post._id%>">DELETE</a>
                                </div>
                                
                            </div>
                        <% } %> 
                    </div>
                <%})%>
            </div>
        </section>
        <aside class="flex-column">
        
            
        </aside>
    </main>
</body>
<script>
    let create_button = document.getElementById('create-button')
    let create_post = document.getElementById('create-post')
    let create_form = document.getElementById('create-form')
    let textarea = document.getElementById('create-post-textarea')
    let error_message = document.getElementsByClassName('error-message')[0]

    create_button.addEventListener('click',function(ev){
        create_post.classList.toggle('show')
    })
    create_form.addEventListener('submit',function(ev){
        
        
        if(textarea.value != ''){
            
        }
        else{
            error_message.innerHTML="The post can not be empty."
            ev.preventDefault()
        }
        
    })
    function confirmDeleteBin(ev){
        ev.currentTarget.parentElement.parentElement.nextElementSibling.classList.toggle('drop')
    }
    function confirmDeleteCancel(ev){
        ev.currentTarget.parentElement.parentElement.classList.toggle('drop')
    }

</script>
</html>