<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/root.css">
    <link rel="stylesheet" href="../public/styles/profile.css">
    <script src="../public/scripts/profile.js" defer></script>
    <title><%=req_user.displayname%> | Typhoon</title>
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <div class="header flex-column">
        <div class="background-image">
            <img src="../public/res/wallpaper.jpeg" alt="">
        </div>
        <div class="profile flex-row">
            <div class="profile-picture">
                <img src="../public/res/Typhoon.svg" alt="">
            </div>
            <div class="profile-info flex-row">
                <div class="flex-column">
                    <p><%=req_user.displayname%></p>
                </div>
            </div>
        </div>
    </div>
    <main id="main" class="flex-row">
        <aside class="tab-nav flex-column">
            <ul>
                <a  tab-link="#about" class="ACTIVE">About</a>
                <a  tab-link="#posts">Posts</a>
                <%if(req_user.username == logged_user.username){%>
                    <a  tab-link="#profile">Profile</a>
                    <a  tab-link="#settings">Settings</a>
                <%}%>
            </ul>
        </aside>
        <div class='tabs flex-column'>
            <div id="tabs-overlay" class="animeoverlay"></div>
                
            <div id="about" class="tab flex-column ACTIVE" tab="about">
                <h2 class="C-underline"><%=req_user.displayname%></h2> 

                <div class="bio flex-column">
                    <h2>Bio</h2>
                    <p><%=req_user.personal.bio%> </p>
                </div>

                <div class="personal flex-column">
                    <div class="pair flex-row">
                        <p class="label">Date of birth</p>
                        <p class="info"><%=req_user.personal.birthdate%></p>
                    </div>
                    <div class="pair flex-row">
                        <p class="label">Adress</p>
                        <p class="info"><%=req_user.personal.adress%></p>
                    </div>
                    <div class="pair flex-row">
                        <p class="label">Phone number</p>
                        <p class="info"><%=req_user.personal.phonenumber%></p>
                    </div> 
                    <div class="pair flex-row">
                        <p class="label">Email</p>
                        <p class="info"><%=req_user.email%></p>
                    </div>
                    <div class="pair flex-row">
                        <p class="label">Work status</p>
                        <p class="info"><%=req_user.personal.occupation%></p>
                    </div>
                    <div class="pair flex-row">
                        <p class="label">Relationship status</p>
                        <p class="info"><%=req_user.personal.relationstatus%></p>
                    </div>
                    
                    
                </div>
                
            </div>

            <div id="posts" class="tab" tab="posts">

            </div>


            <div id="profile" class="tab flex-column" tab="profile">
                <h2>Update your information</h2>
                <form action="<%=logged_user.username%>/update" class="flex-column" method="POST" autocomplete="off">
                   
                    <div class="pair flex-column">
                        <label for="bio">Your Bio</label>
                        <textarea name="bio" id="bio" cols="10" rows="3"><%=logged_user.personal.bio%></textarea>
                    </div>
                    <div class="pair flex-column">
                        <label for="displayname">Display name</label>
                        <input type="text" name="displayname" id="displayname" value="<%=logged_user.displayname%>">
                    </div>
                    <div class="pair flex-column">
                        <label for="birthdate">Birthdate</label>
                        <input type="date" name="birthdate" id="birthdate" value="<%=logged_user.personal.birthdate%>">
                    </div>
                    <div class="pair flex-column">
                        <label for="adress">Adress</label>
                        <input type="text" name="adress" id="adress" value="<%=logged_user.personal.adress%>">
                    </div>
                    <div class="pair flex-column">
                        <label for="phonenumber">Phone number</label>
                        <input type="tel" name="phonenumber" id="phonenumber" value="<%=logged_user.personal.phonenumber%>">
                    </div>
                    <div class="pair flex-column">
                        <label for="occupation">Occupation</label>
                        <select name="occupation" id="occupation">
                            <option <%if(logged_user.personal.occupation==null){%> selected <%}%> disabled hidden>Choose occupation</option>
                            <option <%if(logged_user.personal.occupation=='student'){%> selected <%}%>value="student">Student</option>
                            <option <%if(logged_user.personal.occupation=='employed'){%> selected <%}%>value="employed">Employed</option>
                            <option <%if(logged_user.personal.occupation=='unemployed'){%> selected <%}%>value="unemployed">Unemplyed</option>
                            <option <%if(logged_user.personal.occupation=='retired'){%> selected <%}%>value="retired">Retired</option>
                            <option <%if(logged_user.personal.occupation=='other'){%> selected <%}%>value="other">Other</option>
                        </select>
                    </div>
                    <div class="pair flex-column">
                        <label for="relationstatus">Relationship Status</label>
                        <select name="relationstatus" id="relationstatus">
                            <option <%if(logged_user.personal.relationstatus==null){%> selected <%}%> disabled hidden value="">Choose status</option>
                            <option <%if(logged_user.personal.relationstatus=='single'){%> selected <%}%> value="single">Single</option>
                            <option <%if(logged_user.personal.relationstatus=='taken'){%> selected <%}%> value="taken">Taken</option>
                            <option <%if(logged_user.personal.relationstatus=='happy'){%> selected <%}%> value="happy">Happy</option>
                            <option <%if(logged_user.personal.relationstatus=='gamer'){%> selected <%}%> value="gamer">Gamer</option>      
                        </select>
                    </div>
                    
                    <div class="buttons flex-row">
                        <button type="reset">Reset</button>
                        <button type="submit">Submit</button>
                    </div>

                </form>
            </div>


            <div id="settings" class="tab " tab="settings">
                
            </div>
            
        </div>
    </main>


    <%- include ('partials/footer.ejs') %>
</body>
</html>